body{font-family:arial,helvetica, sans-serif; background:#FFFFFF; font-size:10pt; color:#464646;}
td{font-family:arial,helvetica, sans-serif; font-size:10pt; color:#464646;}
A:link{color:#336699;}
A:visited{color:#999999;}
A:acitve{color:#999999;}